
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="orange-text text-center">
    Đơn Hàng của bạn đã được ghi nhận!
    Vui lòng Đợi Nhân Viên Liên Hệ Lại Để Xác Nhận Đơn Đặt Tour của bạn.
</span>

